<html>
<head>
	<title> {{.title}} </title>
	<link rel="stylesheet" href="assets/css/normalize.css"/>
	<link rel="stylesheet" href="assets/css/cranium.css"/>
	<style>
		{{.craniumcss}}
	</style>
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<script src="assets/js/ux.js"></script>
</head>

<body>

	<div class="container">
		<header>
			<h1>bongoBD, data mining champion</h1>
		</header>

		<p class="imp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		<a href="http://google.com">Go to google's website here</a>

		<a class="imp" href="http://frugile.com">Go to frugile's website here</a>

		<p>Another silly paragraph</p>

		<a class="imp" href="http://stackoverflow.com/questions/14765395/why-am-i-seeing-zgotmplz-in-my-go-html-template-output">ZgotmplZ</a>

		<img src="http://lorempixel.com/output/sports-q-c-1373-548-3.jpg"/>

		<p> Man filler text is really hard. If only there were some sort of vaguely Latin filler text I could use. Guess it's time for some copy paste action. Man filler text is really hard. If only there were some sort of vaguely Latin filler text I could use. Guess it's time for some copy paste action. Man filler text is really hard. If only there were some sort of vaguely Latin filler text I could use. Guess it's time for some copy paste action. Man filler text is really hard. If only there were some sort of vaguely Latin filler text I could use. Guess it's time for some copy paste action. Man filler text is really hard. If only there were some sort of vaguely Latin filler text I could use. Guess it's time for some copy paste action. Man filler text is really hard. If only there were some sort of vaguely Latin filler text I could use. Guess it's time for some copy paste action. </p>

		<p>Last paragraph jpoias opweiup fpew gopipods gposd igapow geipowae gpwa igepoiwa ogeiwa eogia ogei waegp iwaoepg ipoewa gowae ugiwauge oiwaugoi dsjg osg dijgid is gdjias dgiwo gejid gisj dgiowae gie ig sdj gisd gijsd igjsdi gwie goi gds jgiw jeig jwoiejg idjgiods jgiow egiwe gjoiewjoig dsjoighreiug hiure ghreuhgiudf ghkjd gfhjs dfds fu dshiuf dsufi dsui fuwie fuw efuisd fuisduf dsiu f idsfu idugi wue giu dguis diug sduif uwei fuwie fuid siu gfdis guiw eugi duis guisd uif wuief yweriuew rus dfiu dsfu idsf uds fiudsf udsi fuds</p>

	</div>

</body>
</html>