<html>
<head>
	<title> {{.title}} </title>
	<link rel="stylesheet" type="css" href="assets/css/normalize.css"/>
	<link rel="stylesheet" type="css" href="assets/css/cranium.css"/>
	<link rel="stylesheet" type="css" href="assets/css/main.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<style>
		{{.craniumcss}}
	</style>
	<!--<script src="assets/js/jquery-1.11.3.min.js"></script>
	<script src="assets/js/ux.js"></script>-->
</head>

<body>

	<div class="container">
		<header>
			<h1>Amazon to Stop Selling Apple TV and Chromecast</h1>
			<h5>Huge implications for the future of television technology adoption</h5>
			<h6>Authors: David Streitfeld &amp; Katie Benner</h6>
			<h6>Oct 1, 2015</h6>
		</header>

		<ul>
			<li> <a target="_blank" class="imp" href="http://hackupstate.com">Facebook</a><i class="fa fa-facebook"></i></li>
			<li> <a target="_blank" href="http://google.com">Twitter</a><i class="fa fa-twitter"></i> </li>
			<li> <a target="_blank" href="http://frugile.com">Email</a><i class="fa fa-envelope-o"></i></li>
		</ul>

		<p class="imp">SEATTLE — Amazon said on Thursday that it would stop selling devices from Apple and Google that compete with its own streaming media players, escalating the entertainment battle between the major tech companies. Apple TV and Google’s Chromecast are popular items in Amazon’s electronics store. But the devices are in a brawl for market share with Amazon’s Fire TV and Fire TV Stick, which were introduced in 2014. The Fire Stick delivers Amazon’s rapidly expanding video offerings to its customers. Apple TV and Chromecast do not.</p>

		<a target="_blank" href="http://www.businesswire.com/news/home/20141027005622/en/Introducing-Fire-TV-Stick-Powerful-Streaming-Media#.Vg2qiRNVhBc">Amazon’s Fire TV and Fire TV Stick</a>

		<p>Amazon’s move to ban competitors is not a retailing gambit. In fact, the company is willing to risk annoying customers who cannot get what they want because it is pursuing a much bigger prize. The stick is crucial to Amazon’s ambitions to move from being just a retailer to a multifaceted provider of everything virtual and physical. “It’s unlike Amazon to be this territorial,” said James McQuivey, an analyst with the research firm Forrester. But he said it was a logical and perhaps inevitable move.</p>

		<a class="imp" target="_blank" href="http://bits.blogs.nytimes.com/2012/08/06/apple-to-remove-youtube-app-from-iphone-and-ipad/">The companies have clashed in the past. In 2012, Apple pushed Google’s YouTube app</a>

		<a class="imp" target="_blank" href="http://www.usatoday.com/story/tech/2015/10/01/amazon-stop-selling-apple-tv-google-chromecast/73155338/">USA Today: Amazon to stop selling Apple TV, Google Chromecast</a>

		<img src="http://static01.nyt.com/images/2015/10/02/technology/02A1AMAZONrefer-sub/02A1AMAZONrefer-sub-superJumbo-v2.jpg"/>

		<p>Amazon issued the ban just after Apple and Google unveiled new streaming media players. Apple showed an upgraded Apple TV last month, but analysts were generally unimpressed. Its ambition is to get into more living rooms with a multipurpose entertainment hub that lets app makers create content for the big screen. When the new Apple TV is released at the end of this month, users should be able to watch TV and play video games, as well as use apps to shop, book lodging and collaborate on art and design projects.</p>

		<p>Google this week introduced a redesigned Chromecast along with a second device, Chromecast Audio, for streaming music to speakers. Chromecast has been a huge success in Google’s otherwise spotty record on hardware. Since unveiling the device in 2013, the company has sold some 20 million units. Some analysts said there was one immediate loser here: customers. “It really just hurts the consumers and creates confusion at a time when all of these companies are trying to build up these products,” said Paul Verna, media analyst at eMarketer.</p>

		<img src="http://graphics8.nytimes.com/newsgraphics/2014/04/17/baseball-post/f06b982d13298b7aabb3a37bee1e9d1d280e4c3b/baseball-zips2.png"/>

	</div>

</body>
</html>